body {
    background-color: darkcyan;
    margin: 0;
    padding: 0;
}

header {
    background-color: #242323d5;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 30px;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin: 0;
}

.social-media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;
    margin-top: 50px;
}

.social-media img {
    width: 570px;
    height: 214px;
}
/*
.middle-line {
    position: fixed;
    background-color: #000;
}

.horizontal-line {
    width: 100%;
    opacity: 0.7;
    height: 10px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.vertical-line {
    width: 10px;
    opacity: 0.7;
    height: calc(100% - 60px); 
    top: 74px; 
    left: 50%;
    transform: translateX(-50%);
}
*/
.instagram {
    position: absolute;
    top: 85px;
    left: 40px;
}

.twitch {
    position: absolute;
    top: 85px;
    right: 40px;
}

.twitter {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.youtube {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

